html {
   min-height: 100vh;
 }

body {
	margin: 0;
	background-image: url(../styles/background.jpg);
	background-repeat: no-repeat;
	color: black;
    -webkit-background-size: 100%; 
    -moz-background-size: 100%; 
    -o-background-size: 100%; 
    background-size: cover; 
    -webkit-background-size: cover; 
    -moz-background-size: cover; 
    -o-background-size: cover; 
    background-size: cover;
}

header {
	background: #9999;
	color: white;
}


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  width:  100%;
}

header h1 {
	margin: 0;
	display: inline;
	color: black;
}

nav ul {
	margin: 0;
	padding: 0 0 0 15px;
	display: inline;
}

nav ul li {
	background: black;
	color: white;
	display: inline-block;
	list-style-type: none;
	padding: 5px 15px;
	border-radius: 5px;
}

nav ul li a {
	color: white;
}

.row {
	clear: both;
}

.col {
	background: #333;
	border-radius: 5px;
	padding: 10px 1%;
	color: white;
	margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
	width: 60%;

}

footer {
	margin: auto;
	padding: 10px .5%;
	width: 20%;
	clear: both;
}
